@CHARSET "UTF-8";

/* トップページ モーダル*/
/* input部分 */
.input-group-addon {
  padding: 2px 12px !important;
}
/* カラーピッカー */
.preview_picker {
  display: none;
}
/* 開始日 */
.dialog_column {
  width: 20%;
}
/* 項目 */
.sch-column-data {
  margin-top: 75px !important;
}
/* モーダル */
.modal_open {
  opacity: 1;
  padding-right: 0px;
  display: block;
  background: rgba(0,0,0,0.5);
}
/* ボタン・入金表示 高さ */
.height_adjust {
  margin-bottom: 13px;
}
input[name="date"] {
  width: 100%;
}
/* ダイアログの表示 */
.dialog_panel-body {
  position: inherit;
}
/* ダイアログ 削除ボタン */
.dislog_close {
  position: absolute;
  right: 2%;
  top: 5px;
}
